@import "mocha.css";

* {
  /* reference the color by using @color-name */
  font-family: Hack Nerd Font Mono;
  font-size: 10px;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  /* background-color: shade(@base, 0.9); */
  /* border: 2px solid alpha(@crust, 0.3); */
  background-color: transparent;
  color: @lavender;
  padding: 5px;
}

tooltip {
  background: @surface0;
}

#workspaces {
  background-color: @base;
  padding: 2px;
  margin-left: 3px;
  margin-top: 5px;
  border-radius: 18px;
}

#workspaces button {
  box-shadow: inset 0 -3px transparent;
  padding: 3px 5px;
  border-radius: 50%;
  font-size: 60px;
}

#workspaces button.focused {
  background-color: @lavender;
  color: @base;
}

#workspaces button.urgent {
  color: @peach;
}

#workspaces button:hover {
  background: @surface0;
  border-color: @surface0;
	color: @lavender;
}

#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#battery,
#tray,
#network,
#custom-vpn,
#custom-deezer,
#custom-changebg,
#custom-gamma,
#mpd  {
	padding: 0 10px;
  /* background: @base; */
  background: @base;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 18px;
  color: @lavender;
}

#workspaces {
  margin-left: 5px;
}

#clock {
  margin-right: 5px;
}

#custom-changebg {
  color: @pink;
  padding-right: 3px;
}

#tray {
  background-color: @flamingo;
  margin-right: 5px;
}
